aiohttp
click
discord.py
dj-database-url
Django
django-filter
django-heroku
djangorestframework
gunicorn
psycopg2-binary
python-dotenv
python-twitter
PyYAML
requests
requests-oauthlib
sentry-sdk
tqdm
urllib3
whitenoise
