aiohttp==3.7.4.post0
black
click
discord.py==1.7.3
dj-database-url
Django<4.0
django-filter
django-heroku
djangorestframework
gunicorn
psycopg2-binary
python-dotenv
python-twitter
PyYAML
requests
requests-oauthlib
sentry-sdk
tqdm
urllib3
watchdog[watchmedo]
whitenoise
