aiohttp==3.7.4.post0
click
discord.py==1.7.3
dj-database-url
Django
django-filter
django-heroku
djangorestframework
gunicorn
psycopg2-binary
python-dotenv
python-twitter
PyYAML
requests
requests-oauthlib
sentry-sdk
tqdm
urllib3
whitenoise
